
h1{
color: blue;
  font-family: verdana;
  font-size: 300%;
  text-align: center;
}
body {
    
    }

#NavigationUL {
    background-image: url('rainbowpolish.jpg');
    position: absolute;
    top: 0;
    left: 0;
    background-color: #b2b4b5;
    width: 20%;
    height: 100%;
    border-top: 3px solid black;
    border-right: 3px solid black;
}

