
h1{
color: purple;
  font-family: cursive, "Lucida handwriting";
  font-size:500%;
  text-align: center;
}
body {
    color: white;
    
    }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


#NavigationUL {
    
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c0c0c0;
    width: 20%;
    height: 100%;
    border-top: 3px solid black;
    border-right: 3px solid black;
    list-style-type: none;
}


.list {
   color: black;
   font-style: bold;
   
   text-decoration: none;
}

th {
  color: black;
}
