
h1{
color: purple;
  font-family: lucida handwriting;
  font-size:500%;
  text-align: center;
}
body {
    color: white;
    background-image: url('rainbowpolish.jpg');
    }

#NavigationUL {
    
    position: absolute;
    top: 0;
    left: 0;
    background-color: #b2b4b5;
    width: 20%;
    height: 100%;
    border-top: 3px solid black;
    border-right: 3px solid black;
}
 li{
   color: black;
   font-style: bold;
}
